.header {
  background-image: url("../../images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 30px;
  min-height: 50vh;
}
.search-field {
  padding: 13px 10px;
}

@media (min-width: 992px) {
  .search-form {
    width: 50%;
  }
}
